.cart-page {
    text-align: center;
  }
  
  
  .cart-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .cart-items {
    width: 65%;
  }
  
  .cart-items table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-items th, .cart-items td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .cart-items th {
    background-color: #f9f9f9;
  }
  
  .cart-items td button {
    background-color: #f2d0dd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-totals {
    font-size: 1.2em;
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
  }
  
  .cart-totals h2 {
    margin-bottom: 20px;
  }
  
  .cart-totals p {
    margin: 10px 0;
  }
  
  .cart-totals button {
    width: 100%;
    padding: 15px;
    background-color: #f2d0dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  